<h1>Chirpus' Za</h1>
<table style="text-align: left;">
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th>Price</th>
    <th>Vegetarian</th>
  </tr>
  @for (i of chirpusMenu; track $index) {
    <tr>
      <td [class.soldout]="i.soldOut">{{i.name}}</td> <!--weird that we do not have to interpolate i.soldout here-->
      <td>{{i.category}}</td>
      <td>{{i.price}}</td>
      @if(i.vegetarian) {
        <td>Yes</td>
      }
      @else {
        <td>No</td>
      }
      @if(i.soldOut) {
        <td>(Sold Out)</td>
      }
      @else {
        <td>In stock</td>
      }
      <td><button>Add to Order</button></td> <!--Not currently functional-->
    </tr>
  }
</table>